@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html * {
    font-family     : 'Roboto', sans-serif;
    font-weight     : 300;
}

a i {
    color           : #333333;
    padding-left    : 35px;
    padding-right   : 35px;
}

hr {
    border-right    : medium none;
    border-top      : #cccccc 1px solid;
    border-left     : medium none;
    border-bottom   : medium none;
    height          : 1px;
}

#section1{
    background: url(../img/summary.jpg) center no-repeat;
    background-position: fixed;
    background-color: #000000;
}

#title {
    font-size       : 6em;
    text-align      : center;
}

#resumeDownload {
    font-size       : 2em;
    text-align      : center;
    padding-top     : 60px;
}

#resumeTitle {
    font-size       : 18px; 
    display         : block;
}

#resumeSubtitle {
    font-size       : 14px;
    display         : block;
}

#resumeContent {
    text-align      : left;
    display         : block;
}

.portfolio-item {
    background-color: white;
}

.portfolio-item p {
    padding         : 10px 25px 25px 25px;
}