$main: #333333;
$blue: #15a5ee;
$white: #fff;

body {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  line-height: 150%;
}

.card {
  border-radius: 0.5em;
  .card-image img {
    border-radius: 0.5em 0.5em 0 0;
  }
  .card-content {
    overflow: hidden;
    height: 13vh;
  }
}

#banner {
  .intro, .sub_intro {
    text-align: center;
    color: $main;
  }
}